* {
  margin: 10;
  padding: 8px;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  background-color: #0c192c;
}
.background {
  position: relative;
  width: full;
  height: 100vh;
  overflow: hidden;
  object-fit: cover;
}
.container {
  width: 400px;
  padding: 25px, 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #ffffff;
  border-radius: 10px;
}
.bubbles {
  position: relative;
  display: flex;
  z-index: -100;
}
.bubbles span {
  position: relative;
  width: 100%;
  height: 50px;
  background: #4fc3dc;
  margin: 0 4px;
  border-radius: 50%;
  box-shadow: 0 0 0 10px #4fc3dc44, 0 0 50px #4fc3dc, 0 0 100px #4fc3dc;
  animation: animate 15s linear infinite;
  animation-duration: calc(125s / var(--i));
}
.bubbles span:nth-child(even) {
  background: #ff2d75;
  box-shadow: 0 0 0 10px #ff2d7544, 0 0 50px #ff2d75, 0 0 100px #ff2d75;
}
@keyframes animate {
  0% {
    transform: translateY(100vh) scale(0);
  }

  100% {
    transform: translateY(-10vh) scale(1);
  }
}
.container p {
  font-weight: 600;
  font-size: 15px;
  margin-bottom: 8px;
}
.container input {
  width: 100%;
  height: 50px;
  border: 1px solid #494eea;
  outline: 0;
  padding: 10px;
  margin: 10px 0 5px;
  border-radius: 10px;
}
.container button {
  width: 100%;
  height: 48px;
  background: #494eea;
  color: #fff;
  border: 0;
  outline: 0;
  border-radius: 10px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  margin: 10px 0;
  font-weight: 600;
}
#imageBox {
  width: 200px;
  border-radius: 5px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 1s;
}
#imageBox img {
  width: 100%;
  padding: 20px;
}
#imageBox.show-image {
  max-height: 200px;
  margin: 10px auto;
  border: 1px solid #d1d1d1;
}
.error {
  animation: shake 0.1s linear 10;
}
@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-2px);
  }
  50% {
    transform: translateX(0);
  }
  75% {
    transform: translateX(2px);
  }
  100% {
    transform: translateX(0);
  }
}
